<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Menu</title>
    <!--Add to cart links-->
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/add_to_cart.css" type="text/css" />
  <!--END Add to cart links-->

    <link rel="icon" type="image" href="assets/logo.png" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme -->
    <link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
  </head>
  <body style="background-color: #ffffff;">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="container">
        <!-- Logo on the left (larger size) -->
        <a href="/" class="navbar-brand">
          <img
            src="/assets/FoothiesLogoTransparent.png"
            alt="Logo"
            style="
         width: calc(180px + 1vmin)"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto nav-justified">
            <li class="nav-item m-lg-4">
              <a
                href="/"
                class="nav-link fs-5 underline-on-hover"
                >Home</a
              >
            </li>
            <li class="nav-item m-lg-4">
              <a href="/menu" class="nav-link link-primary active fs-5 underline-on-hover">Menu</a>
            </li>
            <li class="nav-item m-lg-4">
              <a href="/contact.html" class="nav-link fs-5 underline-on-hover"
                >Contact</a
              >
            </li>
            <li class="nav-item m-lg-4">
              <a href="/rewards.html" class="nav-link fs-5 underline-on-hover"
                >Rewards</a
              >
            </li>
          </ul>

          <!-- "Order Now" button -->
          <a class="btn btn-primary mx-lg-5 fs-5" href="order.html"
            >Order Now</a
          >

          <!--Cart button -->
<button class="btn btn-outline-primary" id="cart" data-totalitems="0">
  <i class="bi bi-cart fs-2"><%= cartTotal ? cartTotal : 0 %></i>
</button>
            

          <!-- Profile dropdown button with a circular person icon -->
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="font-size: 20px;"
            ><% if (user) { %>
              <%= user.first_name[0].toUpperCase()+user.last_name[0].toUpperCase() %>
            <% } else { %>
              <i class="bi bi-person fs-2"></i>
            <% } %>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="profileDropdown"
            >
              <li>
                <a class="dropdown-item" id="loginButton" href="/login.html"
                  >Login</a
                >
              </li>
              <li>
                <a class="dropdown-item" id="signupButton" href="/register.html"
                  >Sign Up</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


<!--SIDEBAR NAVIGATION-->
<div class="sidebar">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style=" height: 80vmax;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span  style=" padding-left: 3vmin;" class="fs-4">Menu Categories</span>
  </a>
  <hr>
  <ul class="nav nav-pills pagination flex-column mb-auto">
    <li class="nav-item">
      <a href="/menu/all" class="fs-5 underline-on-hover nav-link text-white <%= category === 'all' ? 'active' : '' %>">
        All Drinks
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/foothies" class="fs-5 underline-on-hover nav-link text-white <%= category === 'foothies' ? 'active' : '' %>">
        Foothies
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/smoothies" class="fs-5 underline-on-hover nav-link text-white <%= category === 'smoothies' ? 'active' : '' %>">
        Smoothies
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/fizzys" class="fs-5 underline-on-hover nav-link text-white <%= category === 'fizzys' ? 'active' : '' %>">
        Fizzys
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/juices" class="fs-5 underline-on-hover nav-link text-white <%= category === 'juices' ? 'active' : '' %>">
        Juices
      </a>
    </li>
  </ul>
  <hr>
  </div>
</div>

<form action="/menu/<%= category %>/filter" method="get">
  <label for="sortByPrice">Sort by Price:</label>
  <select id="sortByPrice" name="sortByPrice">
    <option selected disabled value="<%= sortPrice %>"><%= sortPrice %></option>
    <option value="lowToHigh">Low to High</option>
    <option value="highToLow">High to Low</option>
  </select>

  <label for="sortByCalories">Sort by Calories:</label>
  <select id="sortByCalories" name="sortByCalories">
    <option selected disabled value="<%= sortCal %>"><%= sortCal %></option>
    <option value="lowToHigh">Low to High</option>
    <option value="highToLow">High to Low</option>
  </select>

  <label for="search">Search:</label>
  <input type="text" id="search" name="search" placeholder="Search by name or ingredient">
  <input type="hidden" name="category" value="<%= category %>">
  <button type="submit">Apply Filters</button>
</form>


<!--Products-->
    <section class="products">
      <div class="container">
        <div class="row">
          <% products.forEach(product => { %>
            <div class="col-md-4">
              <a href="/product/<%= product.name %>" style="cursor: pointer; text-decoration: none;">
                <div
                  style="border: 0px; text-decoration: none;"
                  onpointerenter="this.style.transition = 'all 1s ease'; this.style.border = '1.5px solid black'; this.style.background = '#d4faff';"
                  onpointerleave="this.style.transition = 'all 1s ease'; this.style.border = '0px'; this.style.background = 'white';"
                  class="card mb-2"
                >
                  <img
                    style="margin: auto; width: 150px; height: 300px; display: block;"
                    src="<%= product.image %>"
                    class="card-img-top"
                    alt="Product Image"
                  />
                  <div style="color: black; margin: auto; text-align: center;" class="card-body">
                    <h5 class="card-title" style="color: black;"><%= product.name %></h5>
                    <p class="card-text" style="color: black;"><%= product.description %></p>
                    <p class="card-text" style="color: black;"><%= product.calories %> cal</p>
                    <p class="card-text" style="color: black;">Price: $<%= product.price %></p>
                  </div>
                </div>
              </a>
          <!--Add to cart Button-->
          <div>
          <button class="add-to-cart-button" style="margin: auto" data-product-id="<%= product._id %>" data-user-session="<%= sessionId ? sessionId : 0 %>">
            <svg
              class="add-to-cart-box box-1"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="24" height="24" rx="2" fill="#ffffff" />
            </svg>
            <svg
              class="add-to-cart-box box-2"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="24" height="24" rx="2" fill="#ffffff" />
            </svg>
            <svg
              class="cart-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ffffff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="9" cy="21" r="1"></circle>
              <circle cx="20" cy="21" r="1"></circle>
              <path
                d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
              ></path>
            </svg>
            <svg
              class="tick"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                fill="#ffffff"
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"
              />
            </svg>
            <span class="add-to-cart">Add to cart</span>
            <span class="added-to-cart">Added to cart</span>
          </button>
        </div>
        </div>

        <% }); %> 
      </div>
        </div>
        </section>




      <!-- <section id="shop">
      <div class="product-container">
        <% products.forEach(product => { %>
        <div class="product">
          //<img src="{{ product[7] }}" alt="phone">
          <div class="description">
            <h4><%= product.name %></h4>
            <p><%= product.description %></p>
            <p>Price: $<%= product.price %></p>
            // <form action="{{ url_for('add_product_to_cart') }}" method="post">
              <input type="hidden" name="product_id" value="{{ product[0] }}">
              <button type="submit">Add to Cart</button>
          //</form>
          </div>
        </div>
        <% }); %>  -->
    


    <!-- <div class="product-list">
      <h1>Products</h1>
      <ul>
        <% products.forEach(product => { %>
        <li>
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <p>Price: $<%= product.price %></p>
        </li>
        <% }); %>
      </ul>
    </div> -->
    <!-- Bootstrap core JS-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--Add to cart stuff-->
    <script type="text/javascript" src="/js/add_to_cart.js"></script>
  </body>
</html>
