<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Menu</title>
    <link rel="icon" type="image" href="assets/logo.png" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme -->
    <link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
  </head>
  <body style="background-color: #ffffff;">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="container">
        <!-- Logo on the left (larger size) -->
        <a href="/" class="navbar-brand">
          <img
            src="/assets/FoothiesLogoTransparent.png"
            alt="Logo"
            style="
         width: calc(180px + 1vmin)"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto nav-justified">
            <li class="nav-item m-lg-4">
              <a
                href="/"
                class="nav-link fs-5 underline-on-hover"
                >Home</a
              >
            </li>
            <li class="nav-item m-lg-4">
              <a href="/menu" class="nav-link link-primary active fs-5 underline-on-hover">Menu</a>
            </li>
            <li class="nav-item m-lg-4">
              <a href="/contact.html" class="nav-link fs-5 underline-on-hover"
                >Contact</a
              >
            </li>
            <li class="nav-item m-lg-4">
              <a href="/rewards.html" class="nav-link fs-5 underline-on-hover"
                >Rewards</a
              >
            </li>
          </ul>

          <!-- "Order Now" button -->
          <a class="btn btn-primary mx-lg-5 fs-5" href="order.html"
            >Order Now</a
          >

          <!-- Profile dropdown button with a circular person icon -->
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person fs-2"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="profileDropdown"
            >
              <li>
                <a class="dropdown-item" id="loginButton" href="/login.html"
                  >Login</a
                >
              </li>
              <li>
                <a class="dropdown-item" id="signupButton" href="/register.html"
                  >Sign Up</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


<!--SIDEBAR NAVIGATION-->
<div class="sidebar">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 55vmax;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span  style=" padding-left: 3vmin;" class="fs-4">Menu Categories</span>
  </a>
  <hr>
  <ul class="nav nav-pills pagination flex-column mb-auto">
    <li class="nav-item">
      <a href="/menu" class="fs-5 underline-on-hover nav-link text-white">
        All Products
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/foothies" class="fs-5 underline-on-hover nav-link text-white">
        Foothies
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/smoothies" class="fs-5 underline-on-hover nav-link text-white">
        Smoothies
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/sodas" class="fs-5 underline-on-hover nav-link text-white">
        Sodas
      </a>
    </li>
    <li class="nav-item">
      <a href="/menu/juices" class="fs-5 underline-on-hover nav-link text-white">
        Juices
      </a>
    </li>
  </ul>
  <hr>
  </div>
</div>
<!--SIDEBAR NAVIGATION
    <div class="sidebar">
      <h2>Menu Categories</h2>
      <ul>
        <li><a href="/menu">All Products</a></li>
        <li><a href="/menu/foothies">Foothies</a></li>
        <li><a href="/menu/smoothies">Smoothies</a></li>
        <li><a href="/menu/sodas">Sodas</a></li>
        <li><a href="/menu/juices">Juices</a></li>
      </ul>
    </div>-->


    
    <section class="products">
      <div class="container">
        <div class="row">
          <% products.forEach(product => { %>
            <a href="/product/<%= product.name %>" style="cursor: pointer; text-decoration: none" class="col-md-4">
            <div style="border: 0px" onpointerenter="this.setAttribute('style', 'transition: all 1s ease; border: 1.5px solid black; color: black; background: #d4faff')" onpointerleave="this.setAttribute('style', 'border: 0px; color: black; background: white')"  class="card mb-2">
              <img
                src="https://purepng.com/public/uploads/thumbnail//purepng.com-smoothie-fruit-strawberrysmoothiefruitstrawberryjuicejuicyfoodfreshredglas-481521377060qmp83.png"
                class="card-img-top"
                alt="Product Image"
                
              />
              <div style="margin-left: auto;
              margin-right: auto; text-align: center;"class="card-body">
            <h5 class="card-title"><%= product.name %></h4>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text">Price: $<%= product.price %></p>
            <!-- <form action="{{ url_for('add_product_to_cart') }}" method="post">
              <input type="hidden" name="product_id" value="{{ product[0] }}"> -->
             <!--<button style="background: rgb(0, 0, 0)" type="submit" class="btn btn-success">Add to Cart</button>-->
          <!-- </form> -->
          </div>
        </div>
    </a>
        <% }); %> 
      </div>
        </div>
        </section>




      <!-- <section id="shop">
      <div class="product-container">
        <% products.forEach(product => { %>
        <div class="product">
          //<img src="{{ product[7] }}" alt="phone">
          <div class="description">
            <h4><%= product.name %></h4>
            <p><%= product.description %></p>
            <p>Price: $<%= product.price %></p>
            // <form action="{{ url_for('add_product_to_cart') }}" method="post">
              <input type="hidden" name="product_id" value="{{ product[0] }}">
              <button type="submit">Add to Cart</button>
          //</form>
          </div>
        </div>
        <% }); %>  -->
    


    <!-- <div class="product-list">
      <h1>Products</h1>
      <ul>
        <% products.forEach(product => { %>
        <li>
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <p>Price: $<%= product.price %></p>
        </li>
        <% }); %>
      </ul>
    </div> -->
    <!-- Bootstrap core JS-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
  </body>
</html>
